absl-py==1.4.0
affine==2.4.0
altgraph==0.17.4
anyio==3.6.2
appnope==0.1.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
bleak==0.22.3
bleak-winrt==1.2.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cocos2d==0.6.9
colorama==0.4.6
comm==0.1.2
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dotenv==0.9.9
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.9.1
flatbuffers==23.5.26
fonttools==4.34.4
fqdn==1.5.1
fsspec==2023.3.0
gast==0.4.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.8.0
idna==3.4
ipython-genutils==0.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.13.1rc0
kiwisolver==1.4.4
libclang==16.0.0
llvmlite==0.39.1
locket==1.0.0
macholib==1.16.3
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mistune==2.0.5
multipledispatch==0.6.0
nest-asyncio==1.5.6
numba==0.56.4
numpy==1.23.1
oauthlib==3.2.2
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.0
param==1.13.0
parso==0.8.3
partd==1.3.0
pefile==2024.8.26
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2023.4.29
platformdirs==3.1.1
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.4
psycopg2==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.6
pyglet==1.5.26
Pygments==2.14.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.0.9
pyproj==3.4.1
pyrsistent==0.19.3
pystac==1.7.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2022.1
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0
pyzmq==25.0.1
QtPy==2.3.0
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.9.0
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.4
stack-data==0.6.2
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.12.2
tzdata==2025.1
uri-template==1.2.0
urllib3==1.26.15
virtualenv==20.21.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.6
widgetsnbextension==4.0.5
wrapt==1.15.0
